.logo {
    transition: all .4s ease-in-out;
    font-size: 28px;
    color: #212121;
    margin-bottom: 6px;
    display: block;
    text-align: center;
}

.header-nav {
    padding: 0 9px;
    font-family: "Montserrat";
    font-size: 16px;
    text-decoration: none;
}
