.homeTables :global .ant-table-wrapper{
    font-family: Montserrat;
}
.homeTables :global .ant-table-content .ant-table{
    box-shadow: none;
}
.homeTables :global .ant-table tr{
    padding-left: 10px;
    padding-right: 10px;
}
.homeTables :global .ant-table td{
    min-width: 150px;
}
.homeTables :global .ant-table th{
    min-width: 150px;
}
.homeTables :global .ant-table-thead > tr > th{
    font-weight: bold;
    border:none;
    font-size: 20px;
    width: 30%;
    text-align: center;
    padding: 40px 0;
}
@media (min-width:640px) {
    .homeTables :global .ant-table-thead > tr > th{
        font-weight: bold;
        border:none;
        font-size: 20px;
        width: 30%;
        text-align: center;
        padding: 20px 0;
    }
}
.homeTables :global .ant-table-ping-right:not(.ant-table-has-fix-right) .ant-table-container::after {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.homeTables :global .ant-table-ping-left:not(.ant-table-has-fix-left) .ant-table-container::before {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.homeTables :global .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
    position: unset;
}
.homeTables :global .ant-table-thead{
    background-color: #FAFAFA;
    width: 100%;
}
.homeTables :global .ant-table-thead tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homeTables :global .ant-table-tbody:first-child{
    display: none;
}
.homeTables :global .ant-table-tbody > tr > td{
    border:none;
    text-align: center;
    width: 20%;
}
.homeTables :global .ant-table-tbody > tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFBFC;
    text-align: center;
    margin: 2.5rem 0;
    font-size: 16px;
    padding: 1.5rem 0;
    white-space: nowrap;
}
@media (max-width:640px) {
    .homeTables :global .ant-table-thead > tr{
        padding: 0;
    }
    .homeTables :global .ant-table-tbody > tr{
        padding: 1rem 0;
        margin: 2rem 0;
    }
}
.homeTables :global .ant-table-cell{
    margin:0
}
.homeTables :global .ant-table .ant-table-measure-row{
    display: none;
}
